<style>
    #grej {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        border-radius: 12px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>

<script type="text/javascript">
window.onload = function() {
    anime({
        targets: '#grej',
        translateX: [
            { value: 0, duration: 1200 },
            { value: 0, duration: 800 }
        ],
        rotate: '1turn',
        backgroundColor: '#7c334f',
        duration: 2000,
        loop: true
    });
}
</script>

<div id="grej">Testar anime.js</div>