<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<div class="ct-chart ct-perfect-fourth"></div>

<script>
var data = {
    // Det här är labels för värdena
    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Maj', 'Jun'],
    // Här är själva datat som ska visualiseras
    series: [
      [5, 2, 4, 2, 0, 4]
    ]
};

var options = {
  width: 300,
  height: 200
};

new Chartist.Line('.ct-chart', data);
</script>