<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<div class="ct-chart ct-perfect-fourth"></div>

<script>
var data = {
    // A labels array that can contain any sort of values
    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Maj', 'Jun'],
    // Our series array that contains series objects or in this case series data arrays
    series: [
      [5, 2, 4, 2, 0, 4]
    ]
};

var options = {
  width: 300,
  height: 200
};

new Chartist.Line('.ct-chart', data);
</script>