---
---

@import "{{ site.theme }}";

.hometitle {
  color: #ece4d8;
}

a.hometitle:hover {
  color: #ece4d8;
  text-decoration: none;
}

.work {
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
}

.page-date {
  font: 1em sans-serif;
}

.tagblop {
  background-color: #D3CCC1;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px;
  border-radius: 5px;
}

.thetags {
  margin-top: 2px;
  margin-bottom: 15px;
}